[2016-06-12 18:57] bgruening opened #2 "PeptideShaker moFF interaction via CLI"
As mentioned here in https://github.com/compomics/searchgui/issues/107 it would be great if we can pass PeptideShaker outputs to moFF via CLI. We could either pass the zip file or a special PS output could work to only pass the tabular file.

Thanks,
Bjoern

[2016-06-15 13:12] Maux82 commented on #2
Hi Bjoen,
Actually the integration of moFF with the peptides shaker output is supported only in GUI version , where from the cpsx file we generate the tab file  for moFF.  The transformation is done in java inside the gui.  If we can get the tab file from peptides shaker CLI , it would be great.

Another point  for this integration on the CLI version  is how  the tab file name  are associated with

[2016-06-15 13:35] bgruening commented on #2
@Maux82 who do I need to peeve to get this into PS ;) @mvaudel?

What about adding two `--input_tab | --input_raw` with [ngars](https://docs.python.org/3/library/argparse.html#nargs) and rely on the order of files. This makes it more flexible than the pure name.

[2016-06-15 13:46] mvaudel commented on #2
Well in the interest of the simplicity of command lines and maintenance effort it sounds better to make the conversion code GUI independent, and have a command line taking the cpsx (or even better mzIdentML) as input?

Agree with @bgruening that it would be best to have `--input_mzid | --input_raw` for each doublet id/raw :)

[2016-06-15 14:01] bgruening commented on #2
mzIdentML!!!! please! :) You guys rock!

[2016-06-21 09:04] kverhegg commented on #2
Hello !

I've looked into this and I think the easiest (short-term) solution would be to write a wrapper around the Pladipus Step inside MoFF GUI. It basically (for now) handles the very simple conversion of a default peptideshaker report (Extended_PSM_report) into the format MoFF needs. This would be a command line version of the components leading to the MoFF process.

Long term...We might be ab

[2016-06-21 09:22] bgruening commented on #2
@kverhegg what are the dependencies of the first approach? Can this functionality striped out or do we need Pladipus completely? I think a self-contained tool to convert PS to MoFF is a nice idea to start with.

[2016-06-21 09:28] kverhegg commented on #2
You wouldn't need the entire Pladipus Framework for sure, it would just use the command launching code. I guess I can strip everything out as well if that's better... But then isn't it easier to make a custom PS report tailored for MoFF ? As that is in essence what this step is doing...

EDIT

In fact the simplest way is to use the PeptideShaker command line options -reports 8 (should be the Exten

[2016-06-21 15:02] hbarsnes commented on #2
Hi all,

@bgruening I've discussed a bit with Kenneth and it seems like you should be able to link PeptideShaker and moFF by using the default PSM report from PeptideShaker. This should generate the tsv file required (you may have to change the extension from txt to tsv though), i.e. the file called "MS2 identified peptide information" detailed here: https://github.com/compomics/moFF#input-data.

[2016-06-21 22:14] mvaudel commented on #2
Hi guys,

You might want to try the compomics-utilities parser of mzID, can get you this piece of information fairly easily, might be quicker than trying to accommodate the PSM text export (which is not a standard). On the other hand rt is not necessarily part of the export of ID software. I strongly encourage you to use a unique spectrum identifier and map back to the rt and mz in the raw file in

[2016-06-22 09:42] hbarsnes commented on #2
Hi Marc,

As far as I understood the problem with this approach is that it would require adding an additional step in between the ID tool's mzid export and the reading into moFF, as moFF is written in Python while our mzid parsing code is in Java. (And the same for the EBI mzid parser.)

So while I agree that supporting mzid directly on the moFF command line would be the optimal solution I'm not s

[2016-06-22 11:11] Maux82 commented on #2
Hi All,

[code]

Well, moFF is mainly based on pandas dataframe and the name of the fields are also case sensitive. I m going to use a mapping  function that change the PS field name  into the requested by for moFF.  I can use the input`--input_mzid |  --input_raw` just for PS output file. The other input ways  will stay for all the other manually curated output.  What do you think guys ?

I also

[2016-06-22 12:50] mvaudel commented on #2
This sounds all great! Indeed having a PSM cut-off is important. If you support mzId there will be a field indicating whether the PSM is validated or not, that would make it generic and remove the need for PS command line :)

[2016-06-22 13:03] hbarsnes commented on #2
If that means that we don't have to change our PeptideShaker tsv export then that sounds like a good solution until mzid can be supported. But I'm not sure how you would use the "--input_mzid" option for the PeptideShaker tsv export? I thought that supporting mzid parsing directly in moFF was problematic?

If possible I would try to make this generic and not specific to PeptideShaker. As I'm prett

[2016-06-23 00:01] bgruening commented on #2
I must admit that I'm a little bit lost with all the details but I really appreciate all your effort and looking forward to test things and integrate it more deeply into Galaxy :)

One additional note/question from our side. Currently we tried to convert the raw file as soon as possible into some open standard format (using mzconvert) and never touched the raw file again. I had the impression that

[2016-06-26 11:11] Thys3Potgieter commented on #2
R has a nice mzid parser library (MSnID) that should be easy to wrap in a python function using rpy2...if I have some time ill see if I can get the psm table into pandas and let you guys know...Thanks for the new tool!! :)

[2016-06-26 11:23] bgruening commented on #2
@Thys3Potgieter is this one not good enough? https://pypi.python.org/pypi/pyteomics

[2016-06-26 11:26] Thys3Potgieter commented on #2
@bgruening Thanks! I will check it out!  You just saved me from some work it looks like :)

[2016-07-01 07:36] kverhegg commented on #2
Just a small update, I've started on writing a converter for the mzid format to the MoFF input format. I didn't test it fully yet, but it might help you ! :) The class has a main, so you could just lift the code if necessary ;)

[Pladipus - mzid - converter class](https://github.com/compomics/pladipus/blob/master/Pladipus-moff/src/main/java/com/compomics/pladipus/moff/logic/util/conversion/MzIdent

[2016-10-28 13:23] wolski opened #3 "txic"
Hello,
I am looking for golang sources of txic.
Thank you.

[2016-11-09 13:37] Maux82 commented on #3
Hi,
Sorry for my late reply.
The txic is based on the [unthermo ](https://godoc.org/bitbucket.org/proteinspector/ms/unthermo)library.
I can give  you the golang sources of txic, but I m not going to put it on this repository.
if you write me an  [email ](mailto::andrea.argentini@ugent.be) I will send it to you.

[2016-11-09 13:37] #3 closed, assigned to nobody

[2016-11-11 13:35] Stortebecker commented on #2
@kverhegg @Thys3Potgieter
Just wanted to ask if the conversion tool from mzid to MoFF has been tested now. Is it ready to use?

[2016-11-11 23:01] Stortebecker opened #4 "Basic question about the quantitation algorithm"
Hi!
I would like to ask about the background of the MoFF quantitation algorithms as I could not find a publication explaining it. The MS1 quantitation algorithms I knew so far (i.e. XPRESS, ASAPRatio, FeatureFinder in OpenMS) were all based on integration of the whole area of a MS1 peak. If I get it right, MoFF works instead solely with the highest value (= the apex) of a peak.
Is this commonly us

[2016-11-14 11:55] Stortebecker opened #5 "Quantitation of Peptides and Proteins"
Do you have recommendations on how to map MoFF PSM quantitations on peptides and finally on proteins?

[2016-11-14 14:15] Maux82 commented on #4
Hi,
yes you had the right intuition.
moFF gets only the apex of each annotated feature given in input. For each feature (rt,mz,charge,mass) moFF extracts the XiC just using the monoisotopic mass of the peptides.
 In a paper that will be available soon in Nature Methods, we compare moFF and MAxQuant intensities showing really high correlation coefficient. Also from the quantitative perspective for

[2016-11-14 15:12] Maux82 commented on #5
Hi,
moFF has been designed just to extract the MS1 intensities, but its output can be easily integrated in other statistical sw such as Perseus or R.

At the moment I do not have any specific recommendation, but in the next future we are planning to integrate moFF output into [this ](http://www.mcponline.org/content/15/2/657.short) novel peptide-based quantification approach

[2016-11-14 19:55] Stortebecker commented on #5
Sounds great! Is the approach you cited already available as a software? I could not find it.

[2016-11-14 19:57] Stortebecker commented on #4
Cool, I am eagerly waiting for some tutorial for the match-between-runs-part of MoFF! I cannot use MQ and this seems to be very powerful.

[2016-11-15 10:31] Maux82 commented on #5
Here we go : https://github.com/ludgergoeminne/MSqRob
if you have questions you can contact the [author](mailto:Ludger.Goeminne@UGent.be)

[2016-12-02 05:29] fcyu opened #6 ""lwhm" or "rwhm" equal -1"
In my results, some of the "lwhm" or "rwhm" equal -1. What is the meaning of this?

Thanks

[2016-12-02 09:47] #5 closed, assigned to nobody

[2016-12-02 11:31] fcyu opened #7 "What is txic?"
Can you provide the source code or algorithm of txic?

Thanks

[2016-12-02 13:00] Maux82 commented on #6
This could happened because the XiC data retrieved is not big enough to find the lwhm (left width half maximum) or the rwhm_ (right width half maximum). When this happen of those values  get -1.
You can increase the --rt_w  values to see if you can avoid this. if both value (lwhm,rwhm) are -1 means that moFF was able to extract the XiC and so you should filtered out those point for your further an

[2016-12-02 13:03] Maux82 commented on #7
The txic is a golang program based on the unthermo library. txic retrived the XiC data for each fetures in input.
I can give you the golang sources of txic, but I m not going to put it on this repository.
if you write me an email I will send it to you.

[2016-12-02 13:08] fcyu commented on #6
Thanks for your reply. I found that in those entries whose lwhm or/and rwhm equal -1, there are still positive values for intensity. I wonder that how the intensity can still be calculated if the program fails to get the lwhm or rwhm?

Thanks

[2016-12-02 13:09] fcyu commented on #7
Thanks for your reply. Your explanation is clear enough. I think the source code is not necessary if it is just a data reading module.

Thanks

[2016-12-02 13:09] #7 closed, assigned to nobody

[2016-12-02 18:25] bgruening commented on #2
First of all congrats for the publication!
I would like to get this now ready for our Galaxy users, is there any process regarding this issue? Anything recommended way to pass data from one tool to the other?

[2016-12-05 17:49] Maux82 commented on #6
This could happen when an intensity is found but the search of the lwhm or rwhm finds the end of the XiC points extracted.   If you still have problems please send you data that I will inspect  my code on  your data.

[2016-12-08 05:23] fcyu opened #8 "Questions about the rt_w and charge"
Hi,

I have two algorithm level questions:
1.  Dose moFF only extract ion intensities with rt_w even though the intensity curve keeps going out of the range of rt_w?
2. Dose moFF check the charge state given a mz and rt coordinate? Or, is it just blindly extract ion intensity no matter if the charge state is the same as that in the input file?

It will be more than grateful if you can answer these

[2016-12-08 09:50] Maux82 commented on #8
Hi,

 _Does moFF only extract ion intensities with rt_w even though the intensity curve keeps going out of the range of rt_w?_

The are two distinct steps in the following order: (1) for each ms2 event in input (rt,mz,charge) moFF extract a XiC of **width   ± rt_w**  and centered on rt;  (2) moFF tries to find  an ion intensity using a smaller rt time window (defined by rt_p; **rt ± rt_p**) on the

[2016-12-08 11:15] fcyu commented on #8
Hi,

Thanks for your detailed answer.

For the first question, I would like to illustrate with a figure:
![307694029068783899](https://cloud.githubusercontent.com/assets/6926299/21007820/91622086-bd79-11e6-97d2-ad52396748e8.jpg)
As we can see from the figure, the apex is within rt ± rt_p and it can be located successfully. However, the range of the whole curve is out of the range of rt ± rt_w. The

[2016-12-08 15:53] Maux82 commented on #8
_The question is: dose moFF includes the red region in extracting ion intensity?_
No , moFF includes  only the region  rt ± rt_w  and the red region lies outside.

About the second question,  Do you mean to apply this check only for the matched features or for both ? Because for the ms2 feature (input file) moFF uses a mz value that is related to charge state of  each identified peptides.
Lets ass

[2016-12-09 02:58] fcyu commented on #8
Hi,

Thanks for your detailed answer.

For the second question, after finding the apex, moFF may check if the charge state is correct. If not, this means that the found apex does not correspond to the peptide we want. moFF may try to find another apex in the rt_w range (if the rt_w range is quite large). Furthermore, I am using moFF to finish a special task. Each injection of my data contains two

[2016-12-11 09:48] Maux82 commented on #8
Hi,
thank you for your explanation.
I m agree with your that a charge state control in case of labelled data can be helpful to find the correct pair of peaks
In the future we are planning a version of moFF for labelled data where we can also implement  the charge state control that you pointed out, but  this does not have the highest priority at the moment.

[2016-12-11 09:52] fcyu commented on #8
Thanks a lot.

[2016-12-11 09:52] #8 closed, assigned to nobody

[2016-12-26 02:26] fcyu opened #9 "Could moFF output the retention time boundary of the integrated ion intensity envelop"
I know that moFF output "lwhm" and "rwhm". However, they are not the boundary. Could moFF output the boundary for us to plot the curve easily?

Thanks

[2016-12-28 22:49] Maux82 commented on #9
Hi,

Can you explain me with more details the time boundary that you need ?
In principle you can  get the entire XiC inside the intervall rt +/- rt_w.

[2016-12-28 22:49] #6 closed, assigned to nobody

[2016-12-28 23:07] #4 closed, assigned to nobody

[2016-12-29 01:56] fcyu commented on #9
Hi,

Thanks for your reply. I would like to illustrate it with a figure:

![681689538615036753](https://cloud.githubusercontent.com/assets/6926299/21535201/bd55ac2e-cdac-11e6-8903-ddb913ab5654.jpg)

I marked the left boundary and right boundary with red color. It is clear that only the intensities within this range should be integrated. moFF reports LWHM and RWHM which are narrower than left bound

[2017-01-04 22:40] Maux82 commented on #9
Hi ,

Sorry for my late reply but I was on holiday.
Yes of course, it is possible to detect the rt boundary of the peak but to do that you need to consider the peak intensities as peak area considering the isotopic envelope of the possible peptides.  This is  the opposite of  the apex  approach  of moFF that aims to keep away the computatioanl burden of the  intensities integration.

At the moment

[2017-01-05 01:37] fcyu commented on #9
Hi,

Thanks for your reply.

Now, I am confused. I recheck your paper, there is no details about how to get the total ion intensity after obtaining the apex. Could you please briefly describe the algorithm since it is not based on the intensities integration?

Thanks

[2017-01-06 10:09] Maux82 commented on #9
moFF, for every features  both for machted or ms2 identified, extracts the apex intensitiy in the XiC related to the monoisotopic mass  of the feature (using the rt_w, and the rt_p windows).  In moFF there is no any kind of intensities  integration, it provides only apex intensities.

[Here](http://www.nature.com/nmeth/journal/v13/n12/fig_tab/nmeth.4075_SF2.html), you can find a slide that explain

[2017-01-06 10:42] fcyu commented on #9
Thanks for your clearly reply.

[2017-01-06 10:42] #9 closed, assigned to nobody

[2017-01-14 11:21] Maux82 commented on #2
Hi @bgruening ,

Sorry for my late replay.

From my side this is the situation:
in moFF.all I have added two other options that allow the user to specify the list of input file and the corrisponding list of raw file:
python moff_all.py --inputtsv f1_folder/input_file1.txt f1_folder/input_file2.txt --inputraw f1_folder/input_file1.raw f1_folder/input_file2.raw --output_folder output_moff

in the mo

[2017-01-14 11:40] mvaudel commented on #2
Hi,

Great to see this moving forward!

By default there is no RT in PeptideShaker, unless provided in the mgf file. Then the unit is the one provided in the mgf file. I would not rely on this metric, but rather do the following:
1- Use the MS2 spectrum identifier to find it back in the raw file
2- Use the coordinates of the corresponding precursor to find the feature.

Does it make sense?

Hope t

[2017-01-14 12:33] bgruening commented on #2
@Maux82 sounds great to me! Thanks for working on this!!!!

[2017-01-14 19:17] hbarsnes commented on #2
Sounds good to me. :)

[2017-01-18 09:24] Maux82 commented on #2
The latest version of moFF can   takes in input PS exported file using the PSM default exporter.
I have tested this new  function  in windows but not completely in Linux but I do not expect so much problems.

@mvaudel , @bgruening : I assume that the default PSM export in PS contains those fields:
['row index','Protein(s)','Sequence','Variable Modifications','Fixed Modifications','Spectrum File','

[2017-01-18 10:10] bgruening commented on #2
@Maux82 great news. Do you plan any further updates the next week? if not I would process and create conda packages and Docker containers for it.

[2017-01-18 11:25] Maux82 commented on #2
The next big update planned is the integration with the new Thermo multi-platform library for the raw file.  I expect that this will happen in two/three weeks. Maybe we can wait  a bit if @mvaudel  or @hbarsnes  have comment or they want to test more estensively the integration with PS.

[2017-01-18 11:43] Stortebecker commented on #2
@Maux82 Can you please share a link to this new library?

[2017-01-18 14:30] mvaudel commented on #2
@Maux82 Great, thanks, that was fast! The default PSM export is something static so the one you used should stay the same. Alternatively, we can create a dedicated _MOFF_ export and even make a _MOFF_ command line option, just tell us what fields you need :)

[2017-01-18 15:28] Maux82 commented on #2
@mvaudel  : The standard PSM export is fine so far, eventually if something change I stored the field names on the properties file so it is easy to change in the future.

[2017-03-08 09:29] Maux82 commented on #2
@bgruening  The current new version on master repository is also multi-threading. I have tested a lot and it  sounds pretty stable.
On the multipr_rawfile branch thereis  a version of moFF based on the new rawfilereader library from Thermo. This is still multi-platform but I have still some issue to fix. The latter one to work on linux needs the mono to run on linux !

[2017-04-10 03:50] ningzhibin opened #10 "low percent of shared peptides between files"
Hello,
I successfully run through moFF over the sample data and my own data. However, I found very low percentage between files(replicates), see below the log file.
I am wondering if I did something wrong, or the sample .txt files provided are just not complete.
Could you guys post some result files for control?

_Reading file: f1_folder/20080311_CPTAC6_07_6A005.txt
Reading file: f1_folder/2008031

[2017-04-10 15:10] Maux82 commented on #10
Hi,

the log looks fine, in the next days I will check it  deeper in details and I will let you know.

Did you expereince the same behaviour also on your data ?

Andrea

[2017-04-10 17:21] ningzhibin commented on #10
yes, I did.
do you get more shared running on the same dataset?
Thanks a lot.

[2017-04-12 13:51] Maux82 commented on #10
Hi ,

I think that I have found a possible but  I 'd  want to be sure that this could this beahaiviour .

can you run  for me moFF on the attachted sample data set ? The input file are the same but I changed the name of some fields.

Do you stil get a low number of shared peptide ?

Thanks

[sample_data_patchheader.zip](https://github.com/compomics/moFF/files/916704/sample_data_patchheader.zip)

[2017-04-12 21:37] ningzhibin commented on #10
I think this time is right, see the log
I noticed that you changed  "calc_mass" to "exp_mass",
is this the only thing you changed?
-----------------------------------------------------------------
Reading file: ./20080311_CPTAC6_07_6A005.txt
Reading file: ./20080313_CPTAC6_07_6A005.txt
Reading file: ./20080315_CPTAC6_07_6A005.txt
Read input --> done
Outlier Filtering is active
Number of replicates

[2017-04-13 14:38] Maux82 commented on #10
Hi,

I will exaplain better what was the problem and how I fix it.

The mbr process is based on unique peptides found across all the input run, in order to mark the unique peptides I used  a key composed by peptide sequence and the mass. This has some drawbacks because the mass must be the theoritical mass otherwise the concept of key does not work.  Indeed, in the sample files the mass field refe

[2017-04-26 09:00] #10 closed, assigned to nobody

[2017-06-06 22:32] wenbostar opened #11 "More than two rows having the same peptide sequence and modification for MBR result"
Hi,

I found that there are three rows which have the same peptide sequence and modification as shown below:

![image](https://user-images.githubusercontent.com/5302110/26854676-dbeab528-4adc-11e7-96b8-25141f3ca043.png)

This is the output from MBR module of moFF. Is it normal?

Best regards!
Bo

[2017-06-21 20:56] mafreitas opened #13 "mzML Speedup"
I have been testing the code with mzML.  A significant speedup can be gained by indexing the mxML spectra first and then performing XIC only over those ranges.  I can share the code along with a couple other possible issues if you like.

For example in moff.py

[code]

and

[code]

also on or around line 315. The incrementor for the variable c is after the continue statement. If it is not an artif

[2017-06-21 21:21] Maux82 commented on #13
Hi,
Thank you very much for this code to speed up the XiC computation using pymzML. The idea to store all rt and the spectrum_Id for all he MS1 scans is great, but it would make sense  to do this just one time defore the splitting of the of inputdata in different threads.

How does this behaive with the multithreding ? Do you read and save all the scan just one time before the multithreding part o

[2017-06-21 23:51] mafreitas commented on #13
I am not the best with github, but I did try to create a pull request with
a working version of the code that I have modified. It reads the code once
before splitting.  The speedup is significant.  If done correctly, the need
to use conditionals to check for MS level and RT window could also be
eliminated.

I have tested with multiprocessing using 4 threads and works fine.

Michael Freitas
mike.fr

[2017-06-23 20:36] jgriss opened #15 "Apex intensities reported as -1.0 on Linux (Ubuntu) using RAW files as input"
Hi!

I processed some of the CPTAC study 6 files changing from the mzML input I used previously to the original RAW files.

For some reason, all intensities are now reported as "-1.0". Here's the result and the log file:
[mam_050108o_CPTAC_study6_6C008_080505040419.zip](https://github.com/compomics/moFF/files/1098991/mam_050108o_CPTAC_study6_6C008_080505040419.zip)

Any idea why this is happening?

[2017-06-23 21:40] Maux82 commented on #15
Hi,

Which of kind of input are you using ?
The search result of the PeptideShaker that I provided or the result of your search engines ?
With the same input and mzML file do you get result ?

One possible reason could be that the RT in input file is in  second , but iin RAW file must be in minutes  maybe you comment the line where I do the transformation . This  happens to me a lot if I use diffe

[2017-06-24 11:39] jgriss commented on #15
Hi,

The input file is from my own pipeline and it works with mzML as input files.

Do I have to convert the RT from seconds into minutes? In your docs I thought it said that your tools expect RT to be in seconds.

About the code: I didn't change anything apart from the code I sent you.

Thanks for your help!

Best regards,
Johannes

[2017-06-28 08:21] Maux82 commented on #11
Hi,
I think that this is issue have been already explained by mail !

[2017-06-28 08:21] #11 closed, assigned to nobody

[2017-06-28 08:23] Maux82 commented on #13
Thanks very much  for you contribution.

I have merged  your [PR](https://github.com/compomics/moFF/pull/14)  in the master branch :)

[2017-06-28 09:04] Maux82 commented on #15
No the Rt in seconds is correct , inside the code it  has converted in minute because thermo raw file store in such a way.

What the log file say for each peptide ?

Can you print for me args_txic in moff.py ?  like a log.critical(args_txic) before the subprocess call [here]( https://github.com/compomics/moFF/blob/master/moff.py#L296-L298)

However, I have update the master branch with a speedup i

[2017-06-28 14:24] #13 closed, assigned to nobody

[2017-07-06 10:27] jgriss opened #16 "moff_mbr breaks output file header"
Hi,

I used `moff_mbr` to match features between runs but the output file headers seem to be messed up. Additionally, the value of the `run_test` column was changed from `false` to `0`.

Here's an exmaple (these are simply the first two lines, since the MBR function added PSMs the order was apparently changed):

Original file:
[code]

moff-mbr ("_match") file:
[code]

[2017-07-13 14:03] Maux82 commented on #16
Hi,

Did you run moff_mbr.py alone or have  you run moff_all.py ?

[2017-07-13 16:54] jgriss commented on #16
Hi,

I ran moff_mbr.py alone.

Thanks for the help!

[2017-07-13 22:00] Maux82 commented on #16
moff_mbr.py is supposed to work only inside moff_all.py when you want to run the entire workflow mbr + apex.
Let me know if you have the same problem when you run moff_all.py

If you are interested in just  the mbr output , just comment lines 140 up to 213 in moff_all.py and it should save the _match files

[2017-07-14 07:12] jgriss commented on #16
Thanks for the information! I will give it a try.

Maybe you could update the documentation on the README site. For me, this wasn't apparent.

Thanks for the help!

[2017-07-14 09:55] jgriss commented on #16
I have now launched the whole pipeline through `moff_all.py`. Still, the generated *_match.txt files contain messed up headers. The behavior is exactly the same as when calling `moff_mbr.py` directly.

[2017-07-14 13:14] Maux82 commented on #16
I have tested,  the moff_mbr.py  alone and the header of the gerated file are still fine.

The fact that the order other field is not tha same , it is a behaivuour of pandas  during the concat and merge., but  changhing the values it sounds like a bug.

Can I have a  couple of your input file just to reproduce this problem ?

[2017-07-14 15:39] jgriss commented on #16
I have now re-checked all the files: The reason why my scripts broke was not that the order of the columns changed (this is fine) but that a column containing "true" / "false" was changed to "1" / "0".

But I guess this is a pandas thing.

So your code seems to be fine.

Sorry about that!

[2017-07-14 15:39] #16 closed, assigned to nobody

[2017-08-02 19:36] #15 closed, assigned to nobody

[2017-08-15 09:15] lcscs12345 opened #18 "apex terminated: pandas.parser is deprecated"
Hi,

Thank you for your platform independent CLI tool. I received the following error when running this command:

`$ python ~/proteomics/src/moFF-1.0/moff.py --tol "10" --inputtsv "test/psm.tsv" --inputraw "test/example.RAW" --output_folder "out"`

`.../moFF-1.0/moff.py:288: FutureWarning: pandas.parser is deprecated and will be removed in a future version.
You can access CParserError as pandas.er

[2017-08-16 15:21] Maux82 commented on #18
Hi,

but does it  stop moFF ? or it is just a warning ?
I will do some test on Pandas 20.3, to see what it is the problem and I will let you know.

Are sure that the input file is a valid tab-delimited file ?

[2017-08-16 22:51] lcscs12345 commented on #18
I ran more tests and found out that moFF works on the same tsv and RAW files only when they are located in the moFF subdirectory such as sample_data. This error has nothing to do with the version of dependencies.

The following example won't work:
``$ pwd``
``/root/src/moFF/``
``$ ls /root/src/moFF/sample_data/test``
`` 20080315_CPTAC6_07_6A005.RAW 20080315_CPTAC6_07_6A005.txt``
``$ cd /root/src/m

[2017-08-17 15:25] Maux82 commented on #18
yes, the input  file path of the should be a  relative from the path where the moFF folder is located.

Maybe I can try to fix it to make it more general. I thought that it was not a big missing but of couse it is also it is not mentioned in the  documentation.

[2017-08-21 14:27] #18 closed, assigned to nobody

[2017-10-20 20:57] caleb-easterly opened #20 "TypeError: compute_peptide_matrix() takes exactly 3 arguments"
I got an error when I passed `--peptide_summary` to `moff.py`:

[code]

This is fixed when I pass `log` to compute_peptide_matrix() - that is, when I change

`compute_peptide_matrix(loc_output,args.tag_pepsum)`

to
`compute_peptide_matrix(loc_output,log,args.tag_pepsum)`

Thanks!

`

[2017-10-20 21:36] Maux82 commented on #20
Hi,
I have lost this input during the merge of one of the brances.
Thanks to have  noticed this ! I  have already fixed this in the master brach

[2017-10-20 21:37] #20 closed, assigned to nobody

[2017-10-27 23:02] caleb-easterly opened #21 "RAW file and mzML differences"
Hello,

I'm glad to see that mzML can be used as an input. However, I noticed some differences when I use mzML and when I use a RAW file. I ran the following

[code]

And the output was
[code]
600 peptides is a pretty large proportion of 3600, so I'm concerned about missing many peptides when using larger files. Is this due to something outside of moFF, like the conversion from RAW to mzML? Or, am

[2017-10-28 13:51] Maux82 commented on #21
Hi,
I will try to reproduce the error.
The missing peptides are pretty large,  I did a test like this  (on another dataset) some days ago and it was fine.

Did you use the master branch ?  If you  run moff also using the following parameters (--rt_w 3 --rt_p 1) do you still see all those missing peptide?

[2017-10-31 17:01] caleb-easterly commented on #21
Hi @Maux82, I just ran it again with the parameters you suggested and got the same results (3036 with MZML and 3646 with RAW). The commands were

[code]

Also, as part of output were the following lines:
(for RAW)
[code]
(for mzML)
[code]

[2017-11-01 14:22] Maux82 commented on #21
Hi , I already did some test and probably the identified peptide are not so realiable.
The one that I used here are based on mascot but I did not  the searched by my  own.
I will change this demo data , maybe using same more realiable search engines but on the same CPTAC dataset

[2017-11-10 19:06] caleb-easterly commented on #21
Thanks for looking into this. It does seem like it might be a data issue - I did some comparisons with other data - peptides identified with X!Tandem in SearchGUI, and got 2988 matches (RAW) and 2981 matches (mzML), which isn't a big difference.

[2017-11-15 14:41] Maux82 commented on #21
I am going to replace the sample data with the imput data that I use for the moFF-GUI. This input data are the result of msgf+ and X!Tandem in SearchGui.  On this data, result should be much more similar between raw and mzML. Let me know if you can test it.

[2017-11-20 23:14] caleb-easterly commented on #21
Hi,

I tested the new identification files and did find that the results were quite a bit better:

[code]

[2017-12-13 12:29] #21 closed, assigned to nobody

[2018-05-23 06:48] antortjim opened #26 "Standalone RAW Conversion in Linux"
Hi all!

My name is Antonio. I came across this tool forwarded by Marc Vaudel in this google group entry [https://groups.google.com/forum/#!topic/peptide-shaker/Lqe7lYKLcHI](https://groups.google.com/forum/#!topic/peptide-shaker/Lqe7lYKLcHI) (from Peptide Shaker). I think it's great. I am also surprised that you can support the analysis of RAW files as input within a Linux environment, as msconver

[2018-05-23 08:53] Maux82 commented on #26
Hi Antonio,

Thanks for using moFF. I hope to release soon  a new version with some intersting filtering option for the matched peaks.

Rearding your question,  I will directly link you to our [Thermo Raw parser ](https://github.com/compomics/ThermoRawFileParser)  a C# program that does the convertion Raw -->  mgf.  The convertion to mzML it should be available soon.  For any question you can cont

[2018-05-30 12:23] antortjim commented on #26
Thanks for your answer! I'm sorry it took me a while to get back to you
As you could see, I asked the developer of https://github.com/compomics/ThermoRawFileParser. It seems very promising :)
Thanks for your time

Best
Antonio

[2018-05-30 12:23] #26 closed, assigned to nobody

[2018-06-02 14:02] antortjim opened #27 "Detail on what pyMZML_xic_out does"
Hi there

I am carefully looking at how moFF works and I have stumbled upon a piece of code I cannot wrap my head around.

[code]

This for loop iterates over all MS1 spectra (as extracted by `scan_mzml()` in `rt_list`) that have a retention time within `minRT` and `maxRT`*. `bisect.bisect` reports the position in the `spectrum.peaks` list where a peak with a given MZValue would fit while keeping

[2018-06-09 21:13] antortjim opened #28 "Post processing protein groups in peptide_summary_intensity file"
Hi there!

Thanks for developing moFF, I am finding it extremely useful in my project.
I was however wondering if you have any recommendation on how to post process the moFF output given in the peptide summary so that no protein id appears in more than 1 protein group:
- It can (and should) appear in several rows because several peptides are mapped to it.
- But always accompanied by the same prote

[2018-06-11 07:26] Maux82 commented on #27
Hi Antonio,
Sorry for my late reply. It has been a while since I did this code for the mzML file.
If  I remebar corretcly , spectrum.peaks contains all ms1 peaks for all the scan line so you have to iterate through them to get all   the MZ_values in you specific RT times.

Just a side note, this code is based on the older version of pymzml and it does not work on the new version of  pymzML that wo

[2018-06-11 08:31] Maux82 commented on #28
Hi Antoio,,

At the moment we do not implement any Ocam's razor heuristic to get unique protein Id for the shared peptide. I am aware that there are several way to do that, and of course this must be a user choice.
The idea behinf moFF, is just puzzle piece that could fit in custom proteomics pipeline, it is not a full proteomics sw that covers all the  proteomics data analysis workflow (MS2 searc

[2018-06-11 13:32] antortjim commented on #28
Hi Andrea

Thanks for your answer!
I am planning to join moFF to MsqRob and perform peptide based quantification indeed :+1:

The [function](https://github.com/statOmics/MSqRob/blob/1965739e44da367fa908e4211597fa653e32d94c/R/smallestUniqueGroups.R) is actually very handy, thanks! Though it still returns groups with shared ids, only they are always the same length.

I tried running the code snippet

[2018-06-11 13:37] antortjim commented on #27
Hi Andrea

Thanks, no problem! Understood!!

I would love to do that!!! Right now I am doing my Master Thesis due in August 6th. After that I can help for sure. Would that be ok? Thanks for the offer :smile:

Cheers

Antonio

[2018-07-10 21:37] caleb-easterly opened #29 "Cleaner CLI?"
Hi @Maux82,

I've been thinking for a while about if it's possible to implement a command line interface that:
1) can handle multiple files with or without MBR
2) has one command as an entry point to all modes

In particular, the first fix would make things a lot easier when there are a lot of files but MBR is not appropriate. The change would also remove redundancy in the parsers, and alleviate c

[2018-07-11 10:18] #28 closed, assigned to nobody

[2018-07-11 10:18] #27 closed, assigned to nobody

[2018-07-14 09:46] Maux82 commented on #29
Hi @caleb-easterly ,

Thanks for  your suggestions, both are really usefull. I will work on it.
However, without mbr I think that  a command line option for each file should be usefull in case where user embeds moFF on a custum pipeleline.
In meantime I have added an option  where the user can specify all the option using a configuration file. I think this  will usefull also on your side. With new

[2018-07-16 17:48] caleb-easterly commented on #29
Yes, it makes sense to maintain the flexibility of using either a single file or a directory. If the user was trying to analyze 1 pair, would it make sense to throw an error if the names were different?

re: the number of arguments, it would be possible to have just one set of arguments for input files (i.e., `--ident_in` and `--raw_in`), then detect whether it was a list of files (including a lis

[2018-08-05 13:01] assafkacen opened #30 "moff installation problems"
Hi,
I am trying to install the moff module. the pymzml package support only python ver 3.4 so I convert the moff.py module to run in python 3.X,
It keeps give me errors when I try to work with mzML file. is this the latest version of the code?
can you tell me what should be the command line to activate the moff on mzML file?

thanks
Assaf

[2018-08-05 21:17] bgruening commented on #30
How are you installing moff? Have you tried using bioconda? https://bioconda.github.io/recipes/moff/README.html

[2018-08-06 12:49] assafkacen commented on #30
Yes – it  couldn’t find the package in bioconda channel.
I downloaded the package but the code contain many bugs and fail to run – that why I suspect I didn’t download the relevant version.
I can send you a list of bugs if its help..

From: Björn Grüning <notifications@github.com>
Sent: Monday, August 6, 2018 12:17 AM
To: compomics/moFF <moFF@noreply.github.com>
Cc: Assaf Kacen <assaf.kacen@weizma

[2018-08-06 16:11] Maux82 commented on #30
Hi @assafkacen ,

One way to install it and using  mzML file, is to   install the old version of pymzML that should be  still available.
Unfortunatly, the new version  of pymzML is only  available  for python 3  but the moving of moFF python 3 is still in our to-do-list.

[2018-08-11 10:10] Maux82 opened #31 "moFF Beta new version available"
Hi @caleb-easterly ,

I have pushed a beta version of moFF that contains the filtering of the matched peaks plus the new CLI as you suggested.

So far the CLI has been tested only using the loc_in option. I still have some logging issue to solve, but all the new features should work. Can you help  me to test it a bit for me  ?

Now you can use the option --mbr to select the type of workflow and al

[2018-08-13 15:38] caleb-easterly commented on #31
Hi @Maux82,

Great, thank you! I will test it this week and let you know my thoughts on the new features.

Best,
Caleb

(crossref #29)

[2018-08-13 15:48] caleb-easterly commented on #30
Hi @assafkacen,

re: moFF in bioconda - it should be there. Did you add bioconda to the list of channels? The instructions are in https://bioconda.github.io/index.html#set-up-channels

Caleb

[2018-08-17 20:05] caleb-easterly commented on #31
Hi @Maux82,

Here's a list of early thoughts. I haven't actually been able to get it to run so far (some dependency issues that I need to iron out), but I'll keep trying. So these are mostly comments designed to make the CLI more intuitive.

1) It's confusing to have all of the different combinations of input parameters (`--loc_in`, `--tsv_list`, `--raw_list`, `--raw_repo`, `--ext`, `--sample`). I

[2018-08-24 23:31] wenbostar opened #32 "moFF mzML"
Hi,

I just tried the latest version of moFF. I got the following error using the example dataset.

[code]
[code]
Bo

[2018-08-26 04:52] Maux82 commented on #32
Hi,

the new version it has not tested on mzML file. I let know when it will be fixed.
thanks for using moFF.
Andrea

[2018-08-27 16:12] bgruening opened #33 "number of cores need to be adjustable"
https://github.com/compomics/moFF/blob/master/moff.py#L376 should be adjustable by an admin. Otherwise, this tool will be always killed by a scheduler on a cluster.

[2018-08-27 18:37] bgruening opened #34 "pep8 python files"
Would it be welcome to use [pep8](https://www.python.org/dev/peps/pep-0008/) for the python files?
I was trying to look at the code to see why it takes so long, but it is hard to read at this point, Would pep8 be a welcome contribution?

[2018-08-27 18:43] Maux82 commented on #33
How can I make it  adjustable by an admin ?   Do you think is it better to  add the number of CPU as input parameter (as default I set it to multiprocessing.cpu_count() ) ?

[2018-08-27 18:53] bgruening commented on #33
Yes, a parameter that is overwriting your default would be nice. Thanks!

[2018-08-27 18:56] Maux82 commented on #34
yes, it would be a good contribution. :)

[2018-08-27 20:27] wenbostar commented on #32
Hi @Maux82, did you get a chance to take a look at this issue? Thanks a lot.
Bo

[2018-08-29 19:04] Maux82 commented on #34
@bgruening  I have pushed a version that should fix some of the issues that you pointed out in  #35 .

- the use of mzML is not yet ready and tested. My plan, is to migrate to python 3.0 when I have a stable version .and then using the new version of pymzML. Any inputs/suggestion  to migrate to python 3.0 is more then welcome.
- you suggested to use boolen in all my flags and I changed some of the

[2018-08-29 20:57] bgruening commented on #34
@Maux82 do you want to support py2 __and__ py3 or is it ok to go fully to py3? Only py3 would be easier.

* `For the user is much more easy to insert a 0/1 instead of True/False`. When does a user need to insert True/False?

* it would be cool if you could include the test as part of the travis testing.

[2018-08-29 20:57] bgruening commented on #34
Thanks for working on it!

[2018-08-29 21:21] bgruening commented on #34
@Maux82 https://github.com/compomics/moFF/pull/36 is using pure py3 if you like to do it that way.

[2018-08-29 21:22] Maux82 commented on #34
yes I bit of support it would be great and I would go fully to py3. @antortjim can  you also help us on this ?

I meant --match_filter is a flag but the user insert a int (0/1) and I use it as int without cast it to boolean. Do you think I have to cast them (those kind of input 0/1) to boolean ?

I will check how to can I include the test in the travis testing. I never used used travis-CI.

[2018-08-29 21:23] #33 closed, assigned to nobody

[2018-08-29 21:28] bgruening commented on #34
@Maux82 check out https://github.com/compomics/moFF/pull/36 :)

Can you point me to the argparse code for this?

[2018-08-29 21:30] bgruening commented on #34
It's really worth to spend one or two days on this. It will give you a good feeling that this @bgruening jerk is not destroying your tool if you merge his PRs :)

[2018-09-01 10:32] bgruening commented on #34
@Maux82 if you are talking about https://github.com/compomics/moFF/blob/502d9040c5f9c31549f26a7ec5a7624150931e02/moff_all.py#L125

please read https://docs.python.org/3/library/argparse.html#action especially the `store_true`

[2018-09-01 10:32] bgruening commented on #34
See here: https://github.com/compomics/moFF/pull/37

[2018-09-02 09:42] antortjim commented on #34
Hi @Maux82! Yes I would be happy to help. I went through the code in moff.py and changed it to make it more readable, even though at some point I broke it somewehere and discarded the work. I will work on it from September 11th, as currently I am traveling!
I think one of the priority improvements that can be done to the code is getting the variable names correctly, as in some cases it needlessly

[2018-09-03 13:03] Maux82 commented on #34
@bgruening  I used the `store_true` for all boolean inputs.  I don t merge  your PR because I have already added on my last push.

To notice that if the user use a config file istead of the CLI must specify these boolean parameters with True/False.
https://github.com/compomics/moFF/blob/32fd4a69b914b7205dd0ec9b0b42794f87acad7e/moff_all.py#L57

Now,  moFF works only in py3.5 . From your initial #36

[2018-09-03 13:10] Maux82 commented on #34
@bgruening
https://github.com/compomics/moFF/issues/34#issuecomment-417112458

I have set the Travis-CI, Can I modify the current travis.yml file to test my code or I am gonna broke something ? e.g the availability in bioconda. ?

thanks  for the big help !

[2018-09-03 13:20] bgruening commented on #34
Is that a problem? Honestly, I would drop the config file option completely.

You can change travis as you like, it has no influence on bioconda and you can not break something :)

[2018-09-27 08:50] antortjim commented on #32
Hi @wenbostar could you please share your txt file? I can look at the issue.

Thanks beforehand!

Antonio

[2018-09-27 09:28] antortjim commented on #32
Forgot it's on sample_data of course :angel: Thanks anyway
Antonio

[2018-10-05 07:12] #31 closed, assigned to nobody

[2018-10-05 07:13] #29 closed, assigned to nobody

[2018-10-05 21:47] Cheng111 opened #39 "local variable 'xic_data' referenced before assignment"
Hi, when I try to run the moff on Ubuntu, there is a error report "local variable 'xic_data' referenced before assignment". It looks like that something wrong with the get_xic_data function. Is there anything I didn't wrong. Thank you so much.

The command I used is "python3 ./moff_all.py  --mbr off --tsv_list moff_input.tsv --raw_list *.mzML --rt_peak_win 0.75 --tol 10 --loc_out ./moff/ --xic_len

[2018-10-06 07:01] Maux82 commented on #39
Hi ,

Thanks for reporting this. I am aware of this bug.
Actually , I am still fixing the access to the mzML file in this new version. I hope to solve this for the end of the next week. In the meantine you can use moFFwith Thermo raw file.

[2018-10-12 21:30] subinamehta commented on #39
Hi ,
I am also finding this issue using moFF...could you please let me know when this is fixed!!
Thanks,
Subina

[2018-10-15 09:03] Maux82 commented on #39
Hi @subinamehta ,

The last version  in the master branch should work with mzML.  Let me know if you if you get the same error .

[2018-10-15 14:50] Maux82 commented on #39
Hi, @Cheng111
now moFF should work with mzML , let me know if you find other issue with mzML.

[2018-10-15 15:38] subinamehta commented on #39
I still get the same error..so I did conda update moff and then ran this "python moff_all.py --mbr off --tsv_list jrudney_chenx096_20141205_14469_737NS_08_23.tabular --raw_list jrudney_chenx096_20141205_14469_737NS_08_23.mzml --tol 10 --loc_out output_moFF1" and it gives me the error
"UnboundLocalError: local variable 'xic_data' referenced before assignment"

[2018-10-15 19:43] Maux82 commented on #39
@subinamehta  ARe you sure that you are using  the  last version from the master branch ?  you can try to pull it down again?  I tried your command  and for me it  work.

[2018-10-15 19:53] subinamehta commented on #39
Let me give it a try once more

On Mon, Oct 15, 2018, 3:43 PM Maux82 <notifications@github.com> wrote:

[2018-10-15 20:03] Maux82 commented on #39
@subinamehta here is my  last commit  (in moff.py )where I fixed the mzml part  https://github.com/compomics/moFF/commit/3e9b9b22a4f79052c5c284a6da9fbda9fd597674.

[2018-10-15 22:29] subinamehta commented on #39
@Maux82 so I have sent u few files regarding the error I have been getting!

[2018-10-19 17:50] subinamehta commented on #39
Could you check the bioconda version of moFF???

[2018-11-01 14:37] lgatto opened #41 "Failing to run moFF"
After installing all dependencies, the following command (based on the documentation) finished instantly without producing any output

[code]

I imagine I must have done something wrong, but in the absence of any warning or error, I can't debug further - any help would be appreciated. Also, and this might be related to the above, I noticed that if the configuration file doesn't exist, for example

[2018-11-01 16:47] bgruening commented on #41
@lgatto have you tried the conda package? `conda install -c conda-forge -c bioconda moff`

[2018-11-01 17:09] lgatto commented on #41
Yes, I did, but the conda version seems to be outdated (it doesn't have the latest features I was interested in): the `moff.py` from conda is substantially smaller hat the one on github and doesn't have the code that need to be modified, as documented in the README file.

[2018-11-01 17:12] Maux82 commented on #41
Hi @lgatto ,

it was my mistake when I wrote the documentation.
The right command is :
`python moff_all.py --config_file absense_peak_data/configuration_iRT.ini`

Thanks to report this, I will updated the redame asap.
Let me know if it does not work.

The conda version  has been recently updated to version 2.0.1.

[2018-11-01 19:59] lgatto commented on #41
Thanks, will try it out tomorrow and report back.

[2018-11-02 09:46] lgatto commented on #41
Some progress... but not quite successful yet.

Running
[code]
(note that you have a typo above absen~~s~~[c]e_peak_data above)

with
[code]
I get
[code]

I tried to set `match_filter = False` in the config file, which leads to the same error. Adding the argument on the commend line (either as `False` or `0`) fails
[code]

[2018-11-02 13:45] Maux82 commented on #41
Hi,

To set false , you leave empy the field like :
`match_filter=`

In your case, it complained because mbr was set off and it should not be.  To run it correctly you should set mbr and match_filter int the configuration file  to:
`mbr = on
match_filter = True
`
I pushed a new version of the configuration file. this should work and it runs mbr + apex + filtering.

Regarding, to lin  of code to ch

[2018-11-02 16:39] lgatto commented on #41
That is a tricky one indeed.

I have now set `mbr = on` as per your instructions. I now get
[code]

[2018-11-02 17:43] Maux82 commented on #41
I know this issue.
Which version of  scikit-learn are you using ?
Try to update to version 0.20.0.  with :
`conda` update scikit-learn`

[2018-11-02 19:50] lgatto commented on #41
[code]
I installed it with my package manager.

[2018-11-05 16:16] Maux82 commented on #41
Hi, I did some test and I am not able to reproduce this error.

Can you tell the version of python that you re using ?  run `conda list ` list in your enviroment .

what happen if you downgrade to python 3.6 instead of py3.7 ? or just make a virtual env in conda with python 3.6.

[2018-11-05 18:59] lgatto commented on #41
Here's what I have
[code]

[code]
Could you point me to some documentation to create and run a virtual env in conda, as I'm not familiar with it and prefer not to mess up my installation, as I'm relying on it for other software at the moment.

[2018-11-05 19:15] bgruening commented on #41
@lgatto what strikes me at this output is that many packages coming from the default-channel and not conda-forge. Please make sure that conda-forge has the highest priority.

[2018-11-05 19:39] lgatto commented on #41
Whenever possible, I use my package manager to install python packages, but that's more out of convenience and familiarity. Would you advise to use `conda install` instead?

And by *make sure that `conda-forge` has the highest priority*, do you mean when installing? If so, then I suppose the following secures that
[code]

[2018-11-05 19:44] bgruening commented on #41
Sounds good :)

This is what you should do https://bioconda.github.io/#set-up-channels

Or you can try `conda create -n moff -c conda-forge -c bioconda moff`. Conda is great its worth to spend some time with it and try to manage all environments with conda.

[2018-11-05 21:20] Maux82 commented on #41
Ok I see the problem. Conda is using python 2.7, that why you get the error.

once minicondna is installed
$ conda config --add channels bioconda
$ conda config --add channels conda-forge
$ conda create --yes -n moff python=3.6
$ source activate moff
$ conda install numpy scipy scikit-learn pandas simplejson pyteomics pymzml
$ conda install  --yes -c conda-forge mono
$ conda update pymzml
$ conda

[2018-11-09 18:19] lgatto commented on #41
~~Are you sure about the `source activate moff` on its own?~~
Found it - it's `activate moff` on linux.

[2018-11-09 19:45] lgatto commented on #41
Here is where I got. I managed to install everything by `pyteomics`

[code]
I still went on and tried `moFF`:
[code]
Not sure if this error is related to the previous `pyteomics` installation error.

[2018-11-12 13:15] Maux82 commented on #41
It is same error before, but pyteomics it is not what cause this error.

About pyteomics error , I really dont have any clues why it is not possible to install .@bgruening  have any ideas about that ?

if you run
[code]
which version of python do you have  ? 3.6.xx ?

`

[2018-11-12 14:22] lgatto commented on #41
[code]
As for python, I thought that using `conda create --yes -n moff python=3.6` would force that environment to use 3.6. How could I check this? If I just type
[code]
or
[code]
none of which match, but I don't know if that's correct.

[2018-11-12 15:21] Maux82 commented on #41
well there is somethig weird  in the the env that conda ha created. you are right we force the moff env to have python 3.6.

[Here ](https://conda.io/docs/user-guide/tasks/manage-environments.html#id7)you can find some resources on how to manage the enviroment.

after `source activate moff`
you should see something like `(moff) $` in you prompt and the python version inside the enviroment should

[2018-11-12 15:57] lgatto commented on #41
Thank you - I'll double check that I am using the right environment when installing and report back.

[2018-11-12 16:12] lgatto commented on #41
Ok, I have sorted it out. My environment wasn't activated properly and I ended up installing packages in moff and base, hence previous errors.

Things look good so far
[code]
Thank you again for your help and patience. In addition to getting `moff` running, which is great on its own, I have learned about conda environments and how to manage them, which I'm pretty happy about.

[2018-11-12 16:12] #41 closed, assigned to nobody

[2018-12-24 03:45] yafeng opened #42 "multiple raw/mzML files from one sample"
Hi,
when there are multiple raw/mzML files from one sample, how does the match-between-run mode work?
Will moFF consider each mzML file as one sample?  or how do i tell moFF to consider these multiple mzML files are from one sample. I did n't find in the Readme for this situation.

[2018-12-24 09:14] yafeng opened #43 "ValueError: Columns must be same length as key"
Hi, I got this error when running the command in the instruction.
`python moff_all.py --config_file absence_peak_data/configuration_iRT.ini`

[code]

[2018-12-25 19:23] Maux82 commented on #42
Hi,
yes, moFF considers each raw file as  a sample, of course a 'sample' can be also a techical replicate of the same biological  setting  (i.e let say 5 different  biological  samples  A-B-C-D-E and 3 replicates for each , in total a matching-between-run (mbr)  with 15 raw files ). If I understand the question,  there is no way to tell any sort weight across runs in the mbr.  Maybe if you if you

[2018-12-25 19:38] Maux82 commented on #43
Hi,
I am not able to reprodruce the error.  I will try to fix it and came to you in the next days

Are your sure that you have all the dependencie in your python enviroments ?

this sounds something wrong with the brain-isotopic-distribution library.

How many core do you have in your machine ? is it a server machine machine (more than 8) or laptop ?

[2018-12-26 03:33] yafeng commented on #42
Hi,
I am not talking about technical replicates.
when peptide pre-fractionation methods are used, one sample usually consists of multiple raw files from different fractions collected in pre-fractionation step.  Say we collect 6 fractions for each sample and it will produce 6 raw files after LC-MS/MS analysis.

For 10 samples, there will be 10x6 = 60 raw files generated. In maxQuant, it allows user

[2018-12-27 16:44] Maux82 commented on #42
Hi,
In moFF , you cannot  set all the 6 different  fraction as one experiments. The mbr works for all the comparison between the input sample, so in your case (fractionated samples 6 fractions, 10 samples ) for all the 60 raws  it won 't works. I couldtry to implement this this features in the updates.

But you can try to run moFF with mbr for each fraction for all the sample (10 file at time for

[2018-12-28 01:22] yafeng commented on #42
I see, thanks for explaination!

[2018-12-29 02:18] yafeng commented on #43
Hi,
Thanks for your quick reply (especially during Christmas break!)
Yes, i ran it on a multi-core server. And here it is my conda environment

[code]

[2019-01-03 16:51] Maux82 commented on #43
Hi,
the conda env seems good.
Try to run it, modifying the 'CPU' parameter in the conf file from 0 to 4.  In the example data, one of the run has really few identifications, if the number of  CPU is higher (> 4) it could brake. Let me know if this solve the issue.

[2019-01-04 06:06] yafeng commented on #43
I did the changes you said. It works now! Thanks!

[2019-01-23 07:53] yafeng opened #44 "sumIntensity or maxIntensity on the peptide summary file"
Hi,
I have a question on the peptide summary file.
For this peptide, TVAAPSVFIFPPSDEQLKSGTASVVC+57.021LLNNFYPREAK
It was identified at different charge statea, and some with isotope error.
In the peptide summary output, a sum intensity over all PSMs was calculated.
In my cases, it is questionable.  The first two rt_peaks are identical, they should not be summed.
I would prefer to take the maximum

[2019-01-23 09:09] #43 closed, assigned to nobody

[2019-01-23 09:09] #42 closed, assigned to nobody

[2019-01-24 13:38] Maux82 commented on #44
Hi,

When I create the peptide summary, first I sort all the PSM by RT, and then drop all duplicates of the same peptides. In this way I am sure to consider only the peak intesity of  the MS2 event that  early eludes for each peptide.
I don ' t know (or I haven't done before ) if taking the max insted of the sum can give you any kind of advantages.
 There is no option to select the maximum insted

[2019-01-25 03:48] yafeng commented on #44
For the two PSMs with rt_peak = 5889.0442, it makes sense to drop one of them.
For rt_peak = 5897.7405 and rt_peak = 5902.0677, they both have two PSMs with different MS1 intensity.
do you also sum them?
does the sumIntensity in the peptide summary represent apex intensity or it has a different meaning?

I looked up in the peptide summary file, this peptide has sumIntensity of 4841480.69
It appear

[2019-01-31 13:01] Hang0918 opened #45 "ValueError: cannot set a frame with no defined index and a scalar"
[code]

[2019-01-31 13:04] Hang0918 commented on #45
[AML272_2.txt](https://github.com/compomics/moFF/files/2817284/AML272_2.txt)
[config_AML.ini.txt](https://github.com/compomics/moFF/files/2817298/config_AML.ini.txt)
Hi, there, could anyone help me solve this? I am running moff_all.py with the following command:

python moff_all.py --config_file config_AML.ini

Thank you
Best

[2019-01-31 13:10] Maux82 commented on #45
Hi,

Can you write also  the command that you use ?

[2019-01-31 13:55] Maux82 commented on #45
All your input list contains only few psms ? like this one

or this just a sample of your input ?

If you have just few psms, try to adjust the cpu parameter to 1 or 2. and let me know

[2019-01-31 14:44] Hang0918 commented on #45
Hi, Maux, that's right my samples have just few psms. I set the cpu from 4 to 1 and it works, appreciate a lot for your kind help. By the way, would you mind give a hint that why this works? Thanks.

[2019-01-31 15:10] Maux82 commented on #45
Well,  moFF splits the input data  with respect to the number of cpu given in input or present in your machine. If the number of psm is small  (6 psm / 4 cpu= 1.5  ) , some worker gets an empty dataframe and so moFF complains about it.  I will try to fixit in one of the next release. However, six psm is quite small compared to "standard" shotgun  experiments :)

[2019-01-31 15:27] Hang0918 commented on #45
Yeah, I will recheck my data then. Thanks very much for your answer, that really helps me a lot.

[2019-02-19 15:37] CarlosHorro opened #46 "Raw to mgf conversion in moFF?"
Hi,

I just wanted to ask if, at some point, it is planned to include the conversion from Raw to MGF in moFF (as it's already using the RawFileReader).

Greetings,
Carlos

[2019-02-19 17:46] Maux82 commented on #46
hi,
I suppose you mean the conversion between raw to mzml because the mgf format is not used in moff.
there is no plan to include the conversion from raw to mzml.

[2019-02-20 09:39] CarlosHorro commented on #46
Um... well, I though moFF is prepared for running in a unique workflow together with PeptideShaker, I've already seen that moFF accepts PS's PSM report, but PS still needs mgfs files (it cannot manage directly raw files). So, in order to run them both together, do you use an external conversion tool to get mgfs files and give them to PeptideShaker?

[2019-02-20 15:35] bgruening commented on #46
@CarlosHorro can you not use: https://usegalaxy.eu/root?tool_id=toolshed.g2.bx.psu.edu/repos/galaxyp/thermo_raw_file_converter/thermo_raw_file_converter/0.0.1 ?

[2019-02-20 15:39] CarlosHorro commented on #46
Well, maybe, I have not tried that tool yet (although it still seems to be in beta version), we just wondered about how moFF managed this scenario...

[2019-02-20 15:48] Maux82 commented on #46
@CarlosHorro in this scenario , moFF works fine because does not need any mgf file in input. if you integrate Thermo_raw_file_converter  in PS-searchgui  and then you run moFF on PS report (PSM report) and its original raw file/mzml  works.

[2019-02-21 14:41] CarlosHorro commented on #46
Thank you for the info :-)

[2019-02-21 14:41] #46 closed, assigned to nobody

[2019-07-31 14:34] jblakele opened #47 "Question about PTM file"
Hi,

How important is the ptm_setting_mq.json file for match filter after matched between runs? The reason I ask is that it is required, but the search algorithm I use denotes the modification differently than maxquant or peptide shaker. Do I need to create a new ptm_setting file then or does it not matter? My match between runs result I just acquired had matched modified peptides that made it thr

[2019-08-06 11:38] Maux82 commented on #47
Hi,
the PTM setting is really important for the filtering of the mathe matched peptides. Unfortunatly, there is a not standard way to parse the modification because every search engines annote them in a different ways.  I am aware that how it is implemented now in moFF is not the most flexible for the user.
Which search engine are you using ? Both fixed and variable modification are in the mod_pep

[2019-08-06 13:46] jblakele commented on #47
Hi,
Thank you for getting back to me. I am using tide+percolator within the crux framework. I am only using Carbamidomethylation of C and Oxidation of M. Since C is a fixed mutation, the output does not denote it it is just assumed. Oxidation is denoted as so [15.99]. I created a new PTM_settings file like this.

{
"C": {"deltaChem":[3,2,1,1],"desc":"Carboxyamidomethylation C  unimod:4"},
"[15.99]

[2019-08-08 12:17] Maux82 commented on #47
This  shoudl works fine, but he problem is that moFF also expects  also an openend  tag for modifiction '< > '. You should add them in mod_seq information. However I can also point  out that part in the code and you can modfiy it for your needs.

as reference you mean other papers ?  The filtering steps are mainly based on the test that I have done on complex samples (not meta proteome). Of course

[2019-08-08 14:21] jblakele commented on #47
Hmm I'm a little confused about the need for "<>" the maxquant settings example doesn't have those. Are you saying I can use the ptm_settings described above, but I need to modify my modifications to have <>. Such as, example.

![image](https://user-images.githubusercontent.com/33667772/62708770-0cbcbb00-b9c2-11e9-90ef-40be7028966d.png)

I've  run a test. There are modified peptides that were matc

[2019-08-09 09:23] Maux82 commented on #47
Basically moFF accept 'as default' the modification format from searchGui/PeptideShaker and they use < > (eg. O<ox> etc.. see ptm_setting_ps.json) to delimit the modification in the sequence. This is reason why I suggest to use '<' because if they are no present the modification is not taken into account. In your case , you should try something like <C> and <[15.99]>.

 For internal use (in our pr

[2019-08-09 09:24] #45 closed, assigned to nobody

[2019-08-09 09:24] #32 closed, assigned to nobody

[2019-08-09 09:25] #34 closed, assigned to nobody

[2019-08-09 09:25] #30 closed, assigned to nobody

[2019-08-09 09:26] #39 closed, assigned to nobody

[2019-08-14 11:58] #44 closed, assigned to nobody

[2020-04-29 10:58] YaPaHa opened #48 "Backwards incompatible changes in pandas cause building the Dockerfile to fail"
I ran into problems when trying to setup moFF. At first I assumed it was a problem with my local system. However when I decided to try to build the docker image you provide it also failed.

After many hours of googling and scrolling through your code I found it had to do with backwards incompatible changes in pandas. It turns out that, as of [version 0.25](https://pandas.pydata.org/docs/whatsnew/v

[2020-04-29 19:57] Maux82 commented on #48
Hi,
Thank you for let me know this compatibility problems with the current version version of pandas.
I have fixed the docker file, but not tested yet. let know if it is work like that.

I think that this problem has consequences also in the conda  version. Have you tried to install it from conda ? Does it show the same issue ?

Unfortunately, I don't work anymore on moFF (moved outside academia

[2020-04-30 08:18] YaPaHa commented on #48
Installing it via conda indeed caused problems as well. Below are my minimal working conda  environment & dockerfile. However you will get a warning about missing cython compiled modules.

    FROM nfcore/base
    LABEL authors="Veit Schwaemmle" \
        description="Docker image containing all requirements for moFF"

    COPY environment.yml /
    RUN conda env create -f /environment.yml && cond

[2020-07-05 07:55] veitveit opened #49 "Settings to accelerate execution time"
We are using moFF on a larger dataset (27 label-free runs) and it takes a very long time (about 40h), even with setting for 16 threads and 150GB RAM.

Are there any parameter settings that can shorten the execution time? I should be missing something here because the paper says that this is fast method applicable to large datasets.

And as a motivator: MaxQuant does take less than half of the time

[2020-07-10 14:20] Maux82 commented on #49
Hi,

Sorry for my late reply, at moment I am  working outside academia and I follow partially moFF in my free time.

A couple of questions :²
Do you ran the matching between runs across all the 27 runs ? if yes , I can imagine that the number of matched peptides is really big in each run, this should one possible explanation.

How many PSM do you have in each runs as average after fdr calculation

[2020-07-12 17:34] veitveit commented on #49
Hi @Maux82,

Thanks a lot for the help!

I am running the full set of 27 runs, and I am not using the _--match_filter_ option. Does setting the filtering to _true_ speed up things or the opposite?

There are around 10,000 PSMs per run.

I will try to decrease the _xic_length_ and how it will perform.

[2021-08-02 11:43] KunathBJ opened #50 "sample name and fractionation"
Hi!

I several samples hat I want to analyse with moff but the raw files come from fraction analysis.
So for each sample, I have one PSM file but i have 6 fractions for the raw files.

How should I name/submit the inputs for the tool to properly link them with each other?

Thanks a lot,
Ben

[2022-04-15 22:40] ArminGuntram opened #51 "sample files - raw data"
Hi,

I'm having trouble locating the raw files (3 runs of the CPTAC study 6) that correspond to the sample files provided.

The link to 'raw files' takes me to the Proteomic Data Commons:
https://pdc.cancer.gov/pdc/browse?currentPath=%2FPhase_I_Data%2FStudy6

However, I can't seem to find raw files that match up to these ids:

20080311_CPTAC6_07_6A005.txt
20080313_CPTAC6_07_6A005.txt
20080315_CPTA